language: python
sudo: false
python:
  - "3.6"
  - "3.7-dev" # 3.7 development branch
  - "nightly"
install:
  - pip install -e .[testing,load,command,lint]
- script:
  - python setup.py test
  - make ci
  - make lint
